.sidebar {
	width: 100%;
	background-color: #1b1b1b;
	color: #fff;
	padding: 20px;
	height: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.sidebar-header h2 {
	background: linear-gradient(90deg, #d25fc1, #8b00ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
	font-size: xx-large;
}

.sidebar-section h4 {
	margin-bottom: 10px;
	color: #888;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar li {
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 4px;
	margin-bottom: 5px;
}

.sidebar li:hover {
	background-color: #333;
}

.sidebar li.active {
	background-color: #d25fc1;
}

.icon {
	margin-right: 10px;
}
.sidebar-item{
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: transparent;
	transition: background-color 0.5s;
}
.sidebar-item:hover {
	background: linear-gradient(90deg, #d25fc1, #8b00ff);
}